.card{
    margin: 30px;
    width: 300px;
  }
.linkelement:hover{
  text-decoration: none;
}
.showroomcarinfo{
  margin-left: 0px !important;
}
.showroomcarbodyinfo{
  margin-left: 0px !important;
}
