.home-component {
    .home-header {
        background-color: #147bea;
    
    }
    .home-motivation {
        color: #e4eade;
    }
    .car-information-section {
        padding-top: 80px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .car-image {
        height: 350px;
    }
    .heading-title {
        padding-top: 80px;
        text-decoration-line: underline;
        text-decoration-thickness: 7px;
        text-decoration-color: #147be9;
    }
}